#GamePlayRoot {
    -fx-background-color: lightblue;
}

/* Style for buttons, labels, etc. */
.button {
    -fx-font-size: 14px;
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: teal;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Arial Black";
    -fx-font-size: 16px;
    -fx-text-fill: darkred;
}

/* Customize ImageView appearance */
.image-view {
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
}